{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header"></div>
        <div class="alert alert-danger text-center" role="alert"><strong><h2><i class="fa fa-times-circle-o" aria-hidden="true"></i> Registro cerrado</strong></h2><br>Fecha límite: {{ fecha }}</div>
    </div>
{% endblock %}